<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!-- Payroll Demo -->
  <!--<connectionStrings>
    <add name="ERPEntities" connectionString="metadata=res://*/ERP_Model.csdl|res://*/ERP_Model.ssdl|res://*/ERP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5104.site4now.net;initial catalog=db_a643b1_payroll;user id=db_a643b1_payroll_admin;password=643b!FULSUP01;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERP.Properties.Settings.ArityHRDemoConnectionString" connectionString="Data Source=sql5104.site4now.net;Initial Catalog=db_a643b1_payroll;User ID=db_a643b1_payroll_admin;Password=643b!FULSUP01" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!-- Full Support -->
  <!--<connectionStrings>
    <add name="ERPEntities" connectionString="metadata=res://*/ERP_Model.csdl|res://*/ERP_Model.ssdl|res://*/ERP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.192.2;initial catalog=JARO_HRM;user id=sa;password=Ar12y1nf0w2yAt@3;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERP.Properties.Settings.ArityHRDemoConnectionString" connectionString="Data Source=192.168.192.2;Initial Catalog=JARO_HRM;User ID=sa;Password=Ar12y1nf0w2yAt@3" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!-- LocalHost -->
  <connectionStrings>
    <add name="ERPEntities" connectionString="metadata=res://*/ERP_Model.csdl|res://*/ERP_Model.ssdl|res://*/ERP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1SATBD2;initial catalog=TESTAHRM;user id=sa;password=sa1;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ERP.Properties.Settings.ArityHRDemoConnectionString" connectionString="Data Source=DESKTOP-1SATBD2;Initial Catalog=TESTAHRM;User ID=sa;Password=sa1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="ERPEntities" connectionString="metadata=res://*/ERP_Model.csdl|res://*/ERP_Model.ssdl|res://*/ERP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5104.site4now.net;initial catalog=db_a643b1_fullsup;user id=db_a643b1_fullsup_admin;password=643b!FULSUP01;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERP.Properties.Settings.ArityHRDemoConnectionString" connectionString="Data Source=sql5104.site4now.net;Initial Catalog=db_a643b1_fullsup;User ID=db_a643b1_fullsup_admin;Password=643b!FULSUP01" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <add key="UserEmailID" value="arity.php@gmail.com"/>
    <add key="UserEmailPassword" value="Ar@n4f9rW!7E#A"/>
    <add key="EnableSSL" value="true"/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="FromEmailID" value="arity.infoway@gmail.com"/>
    <add key="ImagePath" value="~/ProjectImages/"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;"/>
    <add key="SendEmailID" value="arity.infoway@gmail.com"/>
  </appSettings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="ERP.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="20"/>
    <trust level="Full"/>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="1190576" targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Modules/Login.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>