<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  
  <!--<connectionStrings>
	  <add name="ERPEntities" connectionString="metadata=res://*/ERP_Model.csdl|res://*/ERP_Model.ssdl|res://*/ERP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.192.2;initial catalog=JARO_HRM;user id=sa;password=Ar12y1nf0w2yAt@3;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

  <!-- Payroll LocalHost -->
  <connectionStrings>
    <add name="ERPEntities" connectionString="metadata=res://*/ERP_Model.csdl|res://*/ERP_Model.ssdl|res://*/ERP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1SATBD2;initial catalog=TESTAHRM;user id=sa;password=sa1;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <!--<connectionStrings>
    <add name="ERPEntities" connectionString="metadata=res://*/ERP_Model.csdl|res://*/ERP_Model.ssdl|res://*/ERP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5104.site4now.net;initial catalog=db_a643b1_fullsup;user id=db_a643b1_fullsup_admin;password=643b!FULSUP01;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

  <!-- Payroll Demo HRMS -->
  <!--<connectionStrings>
    <add name="ERPEntities" connectionString="metadata=res://*/ERP_Model.csdl|res://*/ERP_Model.ssdl|res://*/ERP_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5104.site4now.net;initial catalog=db_a643b1_payroll;user id=db_a643b1_payroll_admin;password=643b!FULSUP01;Integrated Security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
